node_modules/

dist/
build/
bin/
*.tsbuildinfo

target/

.gentree/

*.rbxl
*.rbxlx
*.rbxm
*.rbxmx
*.rbxl.lock
*.rbxlx.lock
sourcemap.json

Packages/
ServerPackages/
DevPackages/

*.log
npm-debug.log*
yarn-error.log*
.npm/

.env
.env.*
!.env.example

coverage/
.nyc_output/


.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/

tmp/
temp/
test/

.zig-cache/
zig-out/
